<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="org.telegram.messenger" />
        <package android:name="org.telegram.messenger.web" />
        <package android:name="com.mayakapps.stickerconv" />
        <intent>
            <action android:name="com.whatsapp.intent.action.ENABLE_STICKER_PACK" />
        </intent>
        <intent>
            <action android:name="org.telegram.messenger.CREATE_STICKER_PACK" />
            <data android:mimeType="image/*" />
        </intent>
        <provider android:authorities="com.mayakapps.stickerconv.provider" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="CrossStick"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrossStick"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="cross.stick.whatsapp.StickerContentProvider"
            android:authorities="cross.stick.stickercontentprovider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
